<div align="center" style="display: block; margin-left: auto; margin-right: auto;  width: 50%;">
	<b> About me</b>
	<p> I am a strange loop stuck in a meat body. Operationally compromised and not backed up. Currently working to get my thesis ready and then preparing for the imminent collapse of fossil-capitalism. I spend my days thinking about the extinction event we are in middle of and how could we alleviate it <p/>
		<img src="sampsa_scaled.jpeg" alt="Image of my decaying body"></img>
</div>
